---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const pageTitle = "About Me";
---

<html lang="en">
  <head>
    <Header />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  h1 {
    text-align: center;
    margin-top: 2rem;
  }
</style>